.center{
   display: flex;
   justify-content: center;
   box-sizing: border-box;
   border: 1px solid #95A0A7;
   margin: 0 auto;
   width: 600px;
   border-radius: 10px;
}
.app {
  text-align: center;
}
.txt{
    text-decoration: none;
}
